.dropdownmenu-container {
    display: none;
    justify-content: center;
    position: absolute;
    top: 110%;
    left: -307%;
    z-index: 100;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding-top: 15px;
}
.dropdownmenu-content {
    cursor: default;
}
.dropdownmenu-container .dropdownmenu-content::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #edeaea transparent;
  }

  .products .cart-product-img {
    width: 60px;
    height: 60px;
  }
@media screen and (min-width: 1024px) {
    .dropdownmenu-container {
        display: flex;
    }
}