a {
    line-height: 1.428571429;
    color: #444444;
    white-space: nowrap;
    margin: 0px;
}
a:hover {
    background-color: #ededed;
    cursor: pointer;
}
.unordered-modal-list {
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    margin-top: 10px;
    flex-direction: column;
}
.unordered-modal-list > a {
    padding: 10px 50px 10px 5px;
    text-decoration: none;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
strong {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin-left: 5px;
    color: #222222;
}