/* #### HEADER USER ICON STYLE ####*/
.header-user-actions {
  line-height: 1.428571429;
  color: #444444;
  white-space: nowrap;
  margin: 0px;
}

.header-user-actions:hover {
  background-color: #ededed;
  cursor: pointer;
}

.header-user-actions.log-out:hover {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.unordered-modal-list {
  display: flex;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  margin-top: 10px;
  flex-direction: column;
  border-radius: 8px;
}

.unordered-modal-list>a {
  padding: 10px 50px 10px 5px;
  text-decoration: none;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

strong {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-left: 5px;
  color: #222222;
}

/* HEADER USER ICONS MODAL ## DROP DOWN MENU ## */
.dropdownmenu-container {
  display: none;
  justify-content: center;
  position: absolute;
  top: 110%;
  left: -307%;
  z-index: 100;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding-top: 15px;
}

.dropdownmenu-content {
  cursor: default;
}

.dropdownmenu-container .dropdownmenu-content::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #edeaea transparent;
}

.products .cart-product-img {
  width: 60px;
  height: 60px;
}

.shop-container {
  justify-content: center;
  padding: 20px;
}

.shop-wrapper {
  display: flex;
  margin: 0 auto;
}
.all-products {
  margin-right: auto;
}
.all-products ul {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: 20px;
  row-gap: 20px;
}

.all-products ul li {
  width: 350px;
  min-height: 300px;
  text-align: center;
}

.products img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  background-color: #f7f7f7;
  aspect-ratio: 3/4;
}

.all-products ul li * {
  text-decoration: none;
  text-transform: uppercase;
  font-style: normal;
  text-align: start;
  border: 0px;
}
.product-title-and-price {
  color: #333333;
  display: flex;
  flex-direction: column;
  margin-top: 7px;
}
.product-title-and-price > p {
  font-size: 12px;
}

.wrapBtnAddToCart {
  display: flex;
}

.btn-addToCart {
  color: #fff;
  background-color: #000;
  padding: 16px 32px;
  display: flex;
  border: 0px;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 10px;
}

.btn-addToCart:hover {
  opacity: 0.9;
}
.shop-page-title {
  text-transform: uppercase;
}
/* FILTERS AND CATEGORIES STYLING*/

/* Filters modal base */
.filters-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  /* Adjust this width as needed */
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
  transition: all 0.3s ease-in-out;
  z-index: 1000;
}

.filters-modal.visible {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}


.btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

/* Custom Checkbox */
.custom-checkbox input[type="checkbox"] {
  display: none;
}

.custom-checkbox .checkmark {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: white;
  border: 1px solid #33333361;
  margin-right: 8px;
  vertical-align: middle;
  position: relative;
}

.custom-checkbox input[type="checkbox"]:checked+.checkmark {
  background: black;
}

.custom-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox input[type="checkbox"]:checked+.checkmark:after {
  display: block;
}

.custom-checkbox .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* General Filter Styles */
.filters-modal-content h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
  border-bottom: 2px solid #3333;
  padding-bottom: 10px;
}

.filters-modal-content .filter-title {
  font-size: 1.2rem;
  margin-top: 1rem;
  position: relative;
}

.filters-modal-content .filter-title:before,
.filters-modal-content .filter-title:after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background: black;
  margin: 10px 0;
}

.filters-modal-content .filter-title:before {
  margin-bottom: 5px;
}

.filters-modal-content .filter-title:after {
  margin-top: 5px;
}

.filter-section {
  margin-bottom: 1.5rem;
}

.color-filter,
.size-filter,
.material-filter,
.availability-filter {
  display: flex;
  flex-direction: column;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.filters-modal-content .btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

/* Scrollable Content */
.filters-scroll {
  max-height: calc(100vh - 150px);
  overflow-y: auto;
  margin-right: -15px;
  padding-right: 15px;
}

/* Custom Scrollbar Styles */
.filters-scroll::-webkit-scrollbar {
  width: 5px;
  background-color: #f1f1f1;
}

.filters-scroll::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 2px;
}

.filters-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Filters Modal Styles */
.filters-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  /* Adjust this width as needed */
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
  transition: all 0.3s ease-in-out;
  z-index: 1000;
}

.filters-modal.visible {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.filters-modal-content {
  background-color: #fff;
  height: 100%;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
}
.sort-and-filter-buttons {
  display: flex;
  gap: 15px;
}
#btnFilters, #btnSorting {
  padding: 16px 32px;
  background: none;
  border: #3333 solid 1px;
  font-weight: 400;
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}
/* Product page styling */
.product-sizes-list {
  display: flex;
  list-style-type: none;
}

.product-sizes-list li {
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;
  background-color: transparent;
  border: 1px solid #fff;
  position: relative;
  margin-right: 15px;
}

.product-sizes-list li.selected::after {
  content: "";
  padding: 1px;
  height: 1px;
  width: 1px;
  background-color: #000;
  position: absolute;
  bottom: -20%;
  right: 50%;
  transform: translateX(50%);
}

/* CART STYLING */
.no-products-in-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  padding: 20px;
  border: 2px dashed #cccccc; /* Dashed border to draw attention */
  border-radius: 8px;
  text-align: center;
  color: #333333; /* Dark text color for readability */
  font-size: 18px; /* Slightly larger font size */
  margin: 0; /* Remove default margin */
}

.no-products-in-cart .oops {
  font-size: 80px; /* Large font size for "OOPS" */
  font-weight: bold;
  color: #333; 
  margin-bottom: 20px;
}

.no-products-in-cart p {
  margin: 10px 0;
}

.no-products-in-cart a {
  color: #333; /* Blue link color */
  text-decoration: none;
  font-weight: bold;
}

.no-products-in-cart a:hover {
  text-decoration: underline;
}

.no-products-in-cart .icon {
  font-size: 50px;
  color: #007bff;
  margin-bottom: 10px;
}

.cart {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 120px auto;
  gap: 40px;
  border-radius: 2px;
  padding: 30px 10px;
}

.cart-item-img img {
  height: 150px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.products-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.cart ul {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.cart ul li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-info {
  width: 100%;
}

.size-and-color {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-between;
  margin: 10px 0px;
}

.product-actions {
  display: flex;
  justify-content: space-between;
}

.product-actions span {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 10px;
}

.cart-remove-btn {
  align-self: flex-end;
  justify-self: flex-end;
}

.cart-product-action {
  border: 0px;
  background: none;
}

.total-cart-value {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 12px;
}

.total-cart-value h4 {
  font-weight: 500;
}

.total-cart-value-col {
  display: flex;
  justify-content: space-between;
}

.free-delivery-info {
  background-color: #f0f0f0;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 25px;
}

.div-process-payment {
  display: flex;
  position: sticky;
  bottom: 0%;
  background-color: #fff;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid silver;
  padding: 16px 0px;

}



/* SHIPPING STYLE */

.contact-delivery-details {
  font-size: 12px;
}

.form-delivery-details {
  display: flex;
  flex-direction: column;
  gap: 30px;

}

.form-delivery-details input {
  border: none;
  border-bottom: 1px solid #000;
  padding: 16px 0px;
}

.form-delivery-details input:focus {
  outline: none;
}

/* delivery details */
.shipping-products-container {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.shipping-products-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0px 20px 120px 20px;  
  max-width: 1400px;
}

.hg-bread {
  background-color: #fff;
  display: flex;
  gap: 60px;
  padding: 10px 0px;
  margin-bottom: 60px;
  justify-content: space-around;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  transition: opacity 200ms ease-in-out;
}

.hg-bread-col {
  opacity: 0.5;
  /* Less visible by default */
  transition: opacity 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.hg-bread-col.active {
  opacity: 1;
  /* Fully visible for the active step */
  font-weight: bold;
  border-bottom: 3px solid black;
  /* Adds a bottom border to highlight */
}

.select-delivery {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.checkout-delivery-title {
  line-height: 1.5;
  font-weight: 500;
  font-family: dutti-daily-regular, Helvetica, arial, sans-serif;
  font-size: 12px;
  padding: 16px 0px;

}

.select-delivery-option {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 16px;
  border: 1px solid #c0c0c0;
  flex-grow: 1;
}

.delivery-method-title {
  font-family: dutti-daily-regular, Helvetica, arial, sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.btn-process-payment,
.btn-shipping-continue,
.btn-checkout,
.btn-back-shopping {
  width: 100%;
  padding: 16px;
  background-color: #000;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  border: 0px;
  font-size: 12px;
}

.order-summary {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333; /* Text color */
}

.back-arrow {
  cursor: pointer;
  margin-bottom: 20px;
}

.order-columns {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: space-between;
}

.final-delivery-address,
.cart-items {
  flex: 1; /* Make each column take up equal space */
  padding: 20px;
  border: 1px solid #3333; /* Subtle border */
}

.final-delivery-address p,
.cart-items p {
  margin-top: 8px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 12px;
}
.final-delivery-address span, .cart-items span {
  font-weight: 500;
  font-size: 12px;

}
.section-title {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
}

.cart-items h3 {
  margin-bottom: 20px;
}

.cart-items ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc; /* Subtle bottom border for each item */
}

.cart-item-title {
  color: #333;
}

.cart-item-quantity,
.cart-item-price {
  font-size: 14px;
  color: #555;
}

.summary-columns {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  max-width: 600px;
  align-self: center;
}

.summary-first-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.summary-second-col {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-direction: column;
  border: 1px solid #c0c0c0;
  padding: 20px 5px;
  min-width: 100%;
}

.summary-order-id-and-delivery {
  display: flex;
  align-items: center;
  gap: 10px;
  transform: translateX(-12%);
}

.summary-order-id-and-delivery p {
  font-weight: 700;
}

.summary-info-columns {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #979797;
}

.summary-delivery-type {
  color: #999999;
}

.summary-info {
  color: #000;
}

.summary-info-col {
  display: flex;
  gap: 30px;
}

.summary-info-row {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* SEARCH BOX STYLE */

.search-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.search-bar {
  width: 10%;
  height: 50px;
  border: none;
  padding: 0 40px 0 0;
  font-size: 14px;
  transition: width 0.4s ease-in-out;
  background-color: transparent;
}

.search-bar::placeholder {
  opacity: 0.5;
  font-weight: bolder;
  color: #000;
}

.search-bar:focus,
.search-container.open .search-bar {
  width: 100%;
  outline: none;
  border-bottom: 1px #000 solid;
}

.search-icon,
.searchBox-svg {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}


/* PROFILE STYLE */
.profile-container {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1400px;
  margin: 150px auto;
  padding: 20px;
}

.profile-wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}

.profile-info {
  background-color: white;
  padding: 20px;
  padding-bottom: 520px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #c0c0c0;
}

.left-col {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-align: center;
}

.left-col img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}

.profile-button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 16px;
  font-size: 12px;
  background-color: #fff;
  border: 1px solid #c0c0c0;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.profile-button:hover {
  background-color: #e9e9e9;
}

.profile-button.active {
  background-color: #d0d0d0;

}

.right-col {
  flex: 2;
}

.profile-personal-information {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

.profile-personal-information h4 {
  font-family: "dutti-daily-regular", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 10px;
}

.profile-personal-information label {
  font-weight: bold;
  margin-top: 10px;
}

.profile-personal-information input {
  border: none;
  border-bottom: 1px solid #000;
  padding: 16px 0px;
  font-size: 12px;
  min-width: 100%;
}

.profile-personal-information svg {
  position: absolute;
  right: 10px;

}

.profile-personal-information input:focus {
  outline: none;
}

.profile-personal-information p {
  font-weight: bold;
  margin-top: 20px;
  font-size: 12px;
}
/* ### PROFILE WISHLIST STYLING */

.wishlist-product-image {
  position: relative;
}
.btn-wishlist-product-remove {
  position: absolute;
  top: 3%;
  right: 3%;
}

/* ADMINISTRATOR PANEL / ORDERS MANAGEMENT */
.panel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
}

.panel-wrapper {
  max-width: 1400px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1400px;
  padding: 0px 30px;
  gap: 20px;
}

.card {
  padding: 10px 15px;
  min-width: 100%;
  color: #000;
  flex-grow: 1;
  border: 1px silver solid;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.199);
}

.card div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.orders-container {
  border: 1px solid silver;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.199);
}

.orders-container-first-col {
  padding: 20px;
}

.order-divider {
  border: none;
  height: 1px;
  background-color: silver;
}

.orders-search-container {
  position: relative;
}

.orders-search {
  max-width: 200px;
  margin: 20px;
  padding: 5px;
  background-color: #FAFAFA;
  border: 1px solid silver;
}

.search-icon {
  position: absolute;
  top: 55%;
  left: 175px;
  transform: translateY(-50%);
}

.orders-table {
  min-width: 100%;
  border-spacing: 0;
  overflow-x: scroll;
}

.orders-table th,
td {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: start;
}

.table-row1 {
  background-color: #f7f7f7;
}

.orders-table>thead {
  background-color: #dedede;
}

/* Notification Container */
.cookies-notification-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #f8f9fa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  color: #333;
  padding: 15px 20px;
  box-sizing: border-box;
  z-index: 1000;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

/* Wrapper to center the content */
.cookies-notification-wrapper {
  max-width: 320px;
  text-align: start;
  box-sizing: border-box;
}

/* Slide In Animation */
.slide-in {
  opacity: 0;
  animation: slideIn 0.5s forwards;
}

/* Slide Out Animation */
.slide-out {
  animation: slideOut 0.5s forwards;
}

/* Animations */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px); /* Slide up into view */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px); /* Slide down out of view */
  }
}

.cookies-notification-wrapper h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.cookies-notification-wrapper p {
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 1.5;
}

.cookies-notification-wrapper a {
  color: #333;
  text-decoration: underline;
}

/* Buttons */
.cookies-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.cookies-buttons button {
  width: 120px;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
}

/* First Button (Accept) */
.cookies-buttons button:nth-child(1) {
  background-color: #000;
  color: white;
}

/* Second Button (Reject) */
.cookies-buttons button:nth-child(2) {
  background-color: #F1F0F2;
  color: #000;
}

/* Hover Effects */
.cookies-buttons button:hover {
  opacity: 0.9;
}

.cookies-buttons button:nth-child(1):hover {
  background-color: #333;
}

.cookies-buttons button:nth-child(2):hover {
  background-color: #E0E0E0;
}





@media (max-width: 768px) {

  .search-bar:focus,
  .search-container .search-bar {
    width: 100%;
    outline: none;
    border-bottom: 1px #000 solid;
  }
  .searchBar-disable {
    display: none;
  }
  /* PROFILE MOBILE DESIGN */
  .profile-info.right-col ul {
    justify-content: center;
  }
  .all-products-wrapper ul li {
    width: 100%;
  }
  .profile-wrapper {
    flex-direction: column;
  }

  .left-col,
  .right-col {
    padding-bottom: 20px;
  }
  .filters-modal {
    min-width: 100%;
  }
  /* cookies design for mobiles */
  .cookies-notification-container {
    display: flex;
    justify-content: center;
    padding: 15px;
    width: 100%;
    right: 0;
    bottom: 0;
  }
  .cookies-notification-wrapper {
    text-align: center;
  }
  .cookies-notification-wrapper h3 {
    font-size: 16px;
    max-width: 100%;
  }

  .cookies-notification-wrapper p {
    font-size: 13px;
  }

  .cookies-buttons {
    flex-direction: row;
    gap: 10px;
  }
}



@media screen and (min-width: 600px) {
  .products-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }

}

@media screen and (min-width: 420px) {
  .size-and-color {
    flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .cards {
    flex-direction: row;
    padding: 0px;
  }

  .card {
    min-width: 200px;
  }
}

@media (min-width: 1024px) {
  .dropdownmenu-container {
    display: flex;
  }
}

@media (min-width: 1120px) {
  .shop-wrapper {
    gap: 40px;
  }
  .filters-modal {
    position: static;
    min-width: 300px;
    height: 100%;
    box-shadow: none;
    z-index: 0;
    height: auto;
  }
  .filters-modal-content {
    box-shadow: none;
    padding: 0px;
  }
  .filters-modal-content h2 {
    text-align: start;
  }
  .filters-scroll {
    max-height: 100%;
  }
  .btn-close {
    display: none;
  }
  #btnFilters {
    display: none;
  }
}

@media (min-width: 1400px) {
  .shop-wrapper {
    max-width: 1400px;
  }

  .all-products ul li {
    max-width: 335px;

  }
  .shipping-products-container {
    flex-direction: row;
    align-items: center;
  }
}