---
import Layout from "../layouts/Layout.astro"
import CartProducts from "../components/ReactComponents/Cart.jsx"
---

<Layout title="Ecommerce Cart">
<h1>Heello, this is your cart page</h1>

<CartProducts client:only/>

</Layout>


