---
import Layout from "../layouts/Layout.astro"
import CartProducts from "../components/ReactComponents/Cart.jsx"
---

<Layout title="Ecommerce Cart">
<p>My Cart</p>

<CartProducts client:only/>

</Layout>


