---
import Layout from "../layouts/Layout.astro";
import { userSession } from "../components/UserContext";
---

<Layout title="Profile page">
<h1>{userSession.get()}ba</h1>

</Layout>

<script>
// const profile = fetch('http://localhost:3000/profile')
//                 .then(response => response.text())
//                 .then(console.log);


</script>