---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Ecommerce | Login">
    <main>
        <div class="form-container">
            <h1>Hello!</h1>
            <p>It seems you don't have an ecommerce account.</p>
            <p>Let's create a new one for you!</p>
            <form method="post">
                <input type="text" placeholder="Enter your name" name="name" />
                <input
                    type="text"
                    placeholder="Enter your email address"
                    name="email"
                />
                <input
                    type="password"
                    placeholder="Enter your password"
                    name="password"
                />
                <input
                    type="password"
                    placeholder="Confirm your password"
                    name="confirm-password"
                />
                <span>
                    <input
                        type="checkbox"
                        id="termsandconditions"
                        name="termsandconditions"
                        value="Terms and conditions"
                    />
                    <label for="termsandconditions"
                        >I agree with terms and conditions</label
                    >
                </span>
                <input type="submit" value="Register" />
            </form>
        </div>
    </main>
</Layout>

<style>
    main {
        height: 60vh;
        display: flex;
        gap: 45px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h1 {
        margin-bottom: 10px;
        font-weight: 400;
    }
    .form-container {
        background: white;
        padding: 40px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        width: 300px;
        max-width: 100%;
        text-align: center;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 25px;
    }

    input[type="text"],
    input[type="password"] {
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 0; /* No border-radius as per requirement */
    }

    input[type="submit"] {
        background-color: black;
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
        border-radius: 0; /* No border-radius as per requirement */
    }

    input[type="submit"]:hover {
        background-color: #333;
    }
</style>

<script>
    const url = "http://localhost:3000/register";
    async function registerSubmit(url, data) {
        try {
            const response = await fetch(url, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(data),
            });
            if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
            }

            const message = await response.text();
            console.log(message);
        } catch (error) {
            console.error("Error:", error);
        }
    }

    const handleRegistration = (event) => {
        event.preventDefault();

            const data = new FormData(event.target);

            // Do a bit of work to convert the entries to a plain JS object
            const values = Object.fromEntries(data.entries());

            console.log(values);
            registerSubmit(url, values);
    };

    const form = document.querySelector("form");
    form.addEventListener("submit", handleRegistration);
</script>
