---
import Layout from "../layouts/Layout.astro";
import Product from "../components/ReactComponents/Product";
import { sanityClient } from "sanity:client";
import imageUrlBuilder from '@sanity/image-url'

const products = await sanityClient.fetch(`*[_type == "product"]`);

const builder = imageUrlBuilder(sanityClient)

function urlFor(source) {
  return builder.image(source)
}
console.log();
---



<ul>
{products.map((product) => (
    <li>
    
    <a href={"/product/" + product.slug.current}><img src={urlFor(product.image).url()} />{product.title}</a>
    </li>
    ))}
</ul>

