---

---

<footer>
  <div class="footer-container">
    <div class="footer-wrapper">
      <a href="/shop" class="logo">fashionCulture</a>
      <div class="footer-section">
        <span class="footer-title">
          <p class="footer-social-links-title">Social</p>
        </span>
        <div class="footer-social-media-links">
          <span><a href="https://www.facebook.com">Facebook</a></span>
          <span><a href="https://www.instagram.com">Instagram</a></span>
          <span><a href="https://www.tiktok.com">TikTok</a></span>
          <span><a href="https://www.x.com">X</a></span>
        </div>
      </div>

      <div class="footer-columns">
        <div class="footer-column">
          <span class="footer-title">
            <p>Help</p>
            <svg
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill=""
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M3.5 8.24264C3.5 7.9665 3.72386 7.74264 4 7.74264L7.74264 7.74264L7.74264 4C7.74264 3.72386 7.9665 3.5 8.24264 3.5C8.51878 3.5 8.74264 3.72386 8.74264 4L8.74264 7.74264H12.4853C12.7614 7.74264 12.9853 7.9665 12.9853 8.24264C12.9853 8.51878 12.7614 8.74264 12.4853 8.74264H8.74264L8.74264 12.4853C8.74264 12.7614 8.51878 12.9853 8.24264 12.9853C7.9665 12.9853 7.74264 12.7614 7.74264 12.4853L7.74264 8.74264L4 8.74264C3.72386 8.74264 3.5 8.51878 3.5 8.24264Z"
                fill="#fff"></path>
            </svg>
          </span>
          <div class="footer-links">
            <span><a href="/contact">Contact</a></span>
            <span><a href="/help">Help</a></span>
            <span><a href="/accessibility">Accessibility</a></span>
            <span><a href="#">Order tracking</a></span>
          </div>
        </div>

        <div class="footer-column">
          <span class="footer-title">
            <p>Services</p>
            <svg
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M3.5 8.24264C3.5 7.9665 3.72386 7.74264 4 7.74264L7.74264 7.74264L7.74264 4C7.74264 3.72386 7.9665 3.5 8.24264 3.5C8.51878 3.5 8.74264 3.72386 8.74264 4L8.74264 7.74264H12.4853C12.7614 7.74264 12.9853 7.9665 12.9853 8.24264C12.9853 8.51878 12.7614 8.74264 12.4853 8.74264H8.74264L8.74264 12.4853C8.74264 12.7614 8.51878 12.9853 8.24264 12.9853C7.9665 12.9853 7.74264 12.7614 7.74264 12.4853L7.74264 8.74264L4 8.74264C3.72386 8.74264 3.5 8.51878 3.5 8.24264Z"
                fill="#fff"></path>
            </svg>
          </span>
          <div class="footer-links">
            <span><a href="/delivery-information">Delivery Information</a></span>
          </div>
        </div>

        <div class="footer-column">
          <span class="footer-title">
            <p>Legal</p>
            <svg
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M3.5 8.24264C3.5 7.9665 3.72386 7.74264 4 7.74264L7.74264 7.74264L7.74264 4C7.74264 3.72386 7.9665 3.5 8.24264 3.5C8.51878 3.5 8.74264 3.72386 8.74264 4L8.74264 7.74264H12.4853C12.7614 7.74264 12.9853 7.9665 12.9853 8.24264C12.9853 8.51878 12.7614 8.74264 12.4853 8.74264H8.74264L8.74264 12.4853C8.74264 12.7614 8.51878 12.9853 8.24264 12.9853C7.9665 12.9853 7.74264 12.7614 7.74264 12.4853L7.74264 8.74264L4 8.74264C3.72386 8.74264 3.5 8.51878 3.5 8.24264Z"
                fill="#fff"></path>
            </svg>
          </span>
          <div class="footer-links">
            <span><a href="/purchase-conditions">Purchase Conditions</a></span>
            <span><a href="/privacy-policy">Privacy Policy</a></span>
            <span><a href="/return-policy">Return Policy</a></span>
            <span><a href="/cookies-information">Cookies Information</a></span>
          </div>
        </div>

        <div class="footer-column">
          <span class="footer-title">
            <p>Company</p>
            <svg
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M3.5 8.24264C3.5 7.9665 3.72386 7.74264 4 7.74264L7.74264 7.74264L7.74264 4C7.74264 3.72386 7.9665 3.5 8.24264 3.5C8.51878 3.5 8.74264 3.72386 8.74264 4L8.74264 7.74264H12.4853C12.7614 7.74264 12.9853 7.9665 12.9853 8.24264C12.9853 8.51878 12.7614 8.74264 12.4853 8.74264H8.74264L8.74264 12.4853C8.74264 12.7614 8.51878 12.9853 8.24264 12.9853C7.9665 12.9853 7.74264 12.7614 7.74264 12.4853L7.74264 8.74264L4 8.74264C3.72386 8.74264 3.5 8.51878 3.5 8.24264Z"
                fill="#fff"></path>
            </svg>
          </span>
          <div class="footer-links">
            <span><a href="/about-us">About fashionCulture</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

  footer {
    width: 100%;
    background-color: #000;
    color: #fff;
    /* margin-top: 120px; */
  }

  .footer-container {
    display: flex;
    max-width: 100%;
  }
  .footer-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
  }
  .logo {
    color: #fff;
    font-size: 35px;
    text-decoration: none;
    font-family: "Ballpark", sans-serif;
    font-weight: 700;
    padding-left: 20px;
    padding-top: 80px;
  }
  .footer-section {
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
  }
  .footer-title {
    display: flex;
    justify-content: space-between;
    font-family: "Lato", sans-serif;
    font-weight: 700;
  }
  .footer-links.is-open {
    max-height: 150px;
  }
  .footer-columns {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    border-top: 1px rgb(62, 62, 62) solid;
    border-bottom: 1px rgb(62, 62, 62) solid;
    padding: 30px 0px;
    gap: 20px;
    flex-wrap: wrap;
  }
  .footer-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 20px;
    gap: 20px;
  }
  .footer-title p {
    text-transform: uppercase;
    cursor: default;
  }
  .footer-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: max-height 0.4s ease-in-out;
    max-height: 0px;
    overflow: hidden;
  }
  .footer-social-media-links {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    padding: 30px 0px;
    gap: 10px;
  }
  span a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }

  span a:hover {
    color: #ccc;
  }

   
   
  @media screen and (min-width: 768px) {
    .footer-container {
      justify-content: center;
    }
  }
  @media screen and (max-width: 1024px) {
    .footer-social-links-title {
      display: none;
    }
  }
  @media screen and (min-width: 1024px) {
    .footer-wrapper {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      max-width: 1360px;
      padding: 100px 20px;
    }
    .logo {
      padding: 0px;
    }
    .footer-section {
      padding: 0px;
    }
    .footer-social-media-links {
      flex-direction: row;
      padding: 10px 0px;
    }
    .footer-links {
      max-height: 150px;
    }
    .footer-title svg {
      display: none;
    }
    .footer-columns {
      border: none;
      flex-direction: row;
      padding: 0px;
    }
    .footer-column {
      padding: 0px;
      justify-content: flex-start;
    }
  }
</style>
<script>
  const footerAccordionTitle = document.querySelectorAll(".footer-title");

  footerAccordionTitle.forEach((accordion) => {
    accordion.addEventListener("click", () => {
      let accordionSlideDown;
      if (accordion.parentElement !== null) {
        accordionSlideDown = accordion.parentElement.children[1];
        accordionSlideDown.classList.toggle("is-open");
      }
    });
  });
</script>
