---
import React from "react";
import UserActions from "./ReactComponents/Header/UserActions";
import SearchBar from "./ReactComponents/Searchbar";
---

<header>
    <div class="header-container">
        <a href="/shop" class="logo">fashionCulture</a>
        <div class="action-elements">
            <UserActions client:load/>
        </div>
        <!-- <div class="searchBox-container">
            <input type="text" placeholder="Search for a product" />
        </div> -->
        <SearchBar client:load/>
        <style>
            @import url('https://fonts.cdnfonts.com/css/ballpark');
            header {
                width: 100%;
                margin-bottom: 120px;
            }
            .logo {
                font-size: 35px;
                font-family: 'Ballpark', sans-serif;
                color: #000;
                font-weight: 700;
                text-decoration: none;
            }
            .header-container {
                margin: 12px auto;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
            }
            .action-elements {
                display: flex;
                gap: 1rem;
            }
          
        </style>
    </div>
</header>
