---
import React from "react";
import UserActions from "./ReactComponents/Header/UserActions";
---

<header>
    <div class="header-container">
        <p>Logo Placeholder</p>
        <div class="action-elements">
            <UserActions client:load/>
        </div>
        <div class="searchBox-container">
            <input type="text" placeholder="Search for a product" />
        </div>

        <style>
            header {
                width: 100%;
            }
            .header-container {
                max-width: 90%;
                margin: 12px auto;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
            }
            .action-elements {
                display: flex;
                gap: 1rem;
            }
            .searchBox-container {
                display: flex;
                min-width: 100%;
                justify-content: center;
                margin-top: 0.9rem;
            }
            input {
                width: 100%;
                padding: 10px;
                border-radius: 500px;
                border: 1px solid #797474;
                background-color: #efefef;
                color: hsla(0, 0%, 0%, 0.5);
            }
        </style>
    </div>
</header>
