---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro"
import React from 'react'
import CookiesNotification from "../components/CookiesNotification";
import CookiesInformation from "../pages/cookies-information.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<CookiesNotification client:load/>
			<slot />
			<Footer />
	</body>
</html>
<style is:global>
	@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
	@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
	* {
		margin: 0;
		padding: 0;
	}
	body {
		height: 100vh;
	}
	.wrapper {
		margin-right: auto;
		margin-left: auto;
		max-width: 1360px;
		padding-top: 10px;
		padding-right: 20px;
		padding-left: 20px;
		padding-bottom: 10px;
	}
	h1 {
		font-size: 3em;
		font-family: "Montserrat", sans-serif;
		font-weight: 700;
		font-style: normal;
	}
	p {
		font-size: 1em;
		font-family: "Lato", sans-serif;
		font-weight: 400;
		font-style: normal;
	}
</style>
